<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">


<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<title>BookStore</title>
<style>
body{
background-image: url('/images/library.jpg');

}
h1,h6{
color:white;
font-style: italic;
}



</style>
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-dark">
		<a class="navbar-brand text-white" href="#">Book Store</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link text-white" href="/">Home</a>
				</li>
				<li class="nav-item active">
				<a class="nav-link text-white" href="available_books">Available Books</a>
				</li>
				<li class="nav-item"><a class="nav-link text-white" href="my_books">My
						Books</a></li>

			</ul>
			<div>
				<a class="nav-link text-white" href="book_Register">Register</a>
			</div>
		</div>
	</nav>
	<div class="container text-center my-5">
		<h1>Book Store</h1>
		<h6>Building a book collection is not just about amassing
			volumes; it's about curating a treasure trove of knowledge,
			inspiration, and imagination. Each book holds within its pages the
			potential to transport us to new worlds, challenge our perspectives,
			and ignite our passions. Here's a motivating description of why
			building a book collection is a rewarding endeavor: Imagine your book
			collection as a personal sanctuary, a haven where you can escape the
			mundane and delve into realms of endless possibility. With each
			addition, you enrich this sanctuary, infusing it with the diverse
			voices and narratives of countless authors across time and space.</h6>
			<img src="/images/books.jpg" width="300px"/>
	</div>




	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>
</html>